site_name: Recipe Wiki
site_url: https://solfood.github.io/recipes-wiki/

theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - toc.follow
    - search.suggest
    - search.highlight

markdown_extensions:
  - admonition
  - footnotes
  
